@model SlickBlogApp.ViewModels.CpComments
@using SlickBlogApp.Helpers
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutCP.cshtml";
}
@section style {
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet"/>
}
@section scripts {
<script type="text/javascript">
    var $j = jQuery;
    $j("#dialog-confirm").dialog({
        resizable: false,
        height: 140,
        modal: true,
        autoOpen: false,
        draggable: false,
        height: 'auto',
        buttons: {
            Continue: function () {
                var path = $(this).data('link').href; // Get the stored result
                $(location).attr('href', path);
                window.location.href = a.href;
            },
            Cancel: function () {
                $j(this).dialog("close");
            }
        }
    });
$j('.btn-danger').click(function () {
    var a = this;
    event.preventDefault();
    $("#dialog-confirm")
        .data('link', a)  // The important part .data() method
        .dialog('open');
    
});
</script>
}
<h2>@Model.Title</h2>
<table class="table table-striped table-bordered">
    <colgroup>
        <col class="span1">
        <col class="span7">
    </colgroup>
    <thead>
        <tr>
            <th style="width: 40%">Comments</th>
            <th style="width: 40%">Post date</th>
            <th style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Comments.Count() > 0)
        {
            foreach (var comm in Model.Comments)
            {
            <tr>
                <td>By @comm.Author.Username: @comm.Text
                </td>
                <td>
                    @comm.PostDate
                </td>
                <td><a class="btn btn-mini btn-info" href="@Url.Content("~/Blog/" + Model.Address + "/Details/" + comm.Post.PostId)">
                    View related post</a> <a class="btn btn-mini btn-danger" href="@Url.Content("~/Blog/" + Model.Address + "/DeleteComment/" + comm.CommentId)">
                        Delete</a></td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td>No Posts yet</td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
@Html.CommentPaging(Model)
<div id="dialog-confirm" title="Delete comment">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure that you want to permanently delete selected comment?</p>
</div>
